<div class="main_bg">
    <div class="image-logo">
        <img src="../images/big-logo.png" alt="" width="500px" height="500px">
    </div>
    <div class="form">
        <form action="/api" method="post">
            <h2>Впишите значения</h2> <br>
            <input type="number" name="first" placeholder="Выработка электроэнергии ТА гр.130">
            <input type="number" name="second" placeholder="Отпуск тепла из ТО ТА гр.130">
            <select name="choosemodel">
                <option value="1">Нейронная сеть</option>
                <option value="2">xgb_fuel_130</option>
            </select>
            
            <button type="submit">Отправить</button>
        </form>
    </div>
</div>