<div class="main-upper">
    <div class="main_bg">
        <div class="image-logo">
            <img src="../images/big-logo.png" alt="" width="500px" height="490px">
        </div>
        <div class="form">
            <form action="/api" method="post">
                <h2>Впишите значения</h2> <br>
                <input type="number" name="first" placeholder="Выработка электроэнергии ТА гр.130">
                <input type="number" name="second" placeholder="Отпуск тепла из ТО ТА гр.130">
                <select name="choosemodel">
                    <option value="1">Нейронная сеть</option>
                    <option value="2">xgb_fuel_130</option>
                </select>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>
<div class="main-downer">
    <div class="about-project">
        <div class="project-text">
            <h1>О проекте</h1>
            <hr>
            <p>Проект по предсказанию расходов условного топлива предназначен для повышения эффективности работы теплоэлектростанций
            (ТЭЦ) и оптимизации расходов на топливо. </p>
            <p>Суть проекта заключается в создании математической модели, которая позволит предсказывать расходы условного топлива на
            основе различных параметров. Для этого используются методы искусственного интеллекта, машинного обучения и анализа
            данных.</p>
            <p>Полученные данные и прогнозы расходов помогут оптимизировать работу ТЭЦ, снизить затраты на топливо, повысить
            эффективность работы и уменьшить негативное воздействие на окружающую среду.</p>
            <p>Основными преимуществами проекта являются увеличение прибыли за счет экономии на топливе, уменьшение вредных выбросов и
            повышение конкурентоспособности ТЭЦ на рынке.</p>
        </div>
        <div class="project-image">
            <img src="../images/chp2-winter.jpg" alt="" width="500px" height="350px">
        </div>
    </div>
</div>
