<div class="main-upper content">
    <div class="main_bg">
        <div style="align-content: center; width: 100%">
            <h1 style="color: white"> {{ text }} </h1>
        </div>

    </div>
</div>