<header>
    <a href="/"><img src="../images/logo.png" alt="" height="60px" width="60px"></a>
    <div class="header-text">
        <h3 style="float: right"><a href="#project">О проекте</a></h3>
        <h3 style="float: right"><a href="#data">Данные</a></h3>
        <h3 style="float: right"><a href="#nn">Модели</a></h3>
    </div>

</header>